@font-face {
  font-family: "iconfont"; /* Project id 3791368 */
  src: url('iconfont.woff2?t=1669300611553') format('woff2'),
       url('iconfont.woff?t=1669300611553') format('woff'),
       url('iconfont.ttf?t=1669300611553') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
  content: "\e6cb";
}

.icon-count:before {
  content: "\e631";
}

.icon-task:before {
  content: "\e63f";
}

.icon-set:before {
  content: "\e70f";
}

